# DOCKER_HOST=tcp://host:port (default is unix:///var/run/docker.sock)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
INPUT_QUEUE=builder-input
OUTPUT_QUEUE=builder-output
REDIS_URI=rediss://user:pass@host:port
DSN_URI=mysql://user:pass@host:port/defaultdb?ssl-mode=REQUIRED